HB Main_Table1_11_9_2012.dat, Lvl_ft, Temp_C
wxsta6_Table1.dat, GageMinV, ActTemp, ActDepth, ReportPCP, ActDepthRA, RH, minAIRTC, maxAirTC, aveAirTC
wxsta24_TABLE.dat, AirTC_Avg, AirTC_Max, AirTC_Min, RH
wxsta23_Table1.dat, GageMinV, ActTemp, ActDepth, ReportPCP, ActDepthRA, RH, minAIRTC, maxAirTC, aveAirTC
wxsta1_Table1.dat, GageMinV, ActTemp, ActDepth, ReportPCP, ActDepthRA, RH, minAIRTC, maxAirTC, aveAirTC
wxsta17_TABLE_12_10_2012.dat, AirTC_Avg, AirTC_Max, AirTC_Min, RH
wxsta14_Table1.dat, GageMinV, ActTemp, ActDepth, ReportPCP, ActDepthRA, RH, minAIRTC, maxAirTC, aveAirTC
HQ_Table1.dat, Rain_in_Tot, AirTC_Avg, AirTC_Max, AirTC_Min, RH, SlrkW_Avg, SlrkJ_Tot, WS_ms_Avg, WS_ms_Max, WindDir
Kineo_Tower_Table1.dat, AirTC_Avg, AirTC_Max, AirTC_Min, WS_ms_Avg, WS_ms_Max, WindDir
weir9_Weir_10_25_2012.dat, weir_lvl, weir_lvl_Max, Cond, Ct, Temp_C
weir8_Weir_4_24_2013.dat, weir_lvl, weir_lvl_Max, Cond, Ct, Temp_C
weir8_Flume_4_24_2013.dat, flume_lvl
weir7_Weir_4_24_2013.dat, weir_lvl, weir_lvl_Max, Cond, Ct, Temp_C
weir7_Flume_4_24_2013.dat, flume_lvl
weir6_Weir_4_24_2013.dat, weir_lvl, weir_lvl_Max, Cond, Ct, Temp_C
weir6_Flume_4_24_2013.dat, flume_lvl
weir5_Weir_4_24_2013.dat, weir_lvl, weir_lvl_Max, Cond, Ct, Temp_C
weir5_Flume_4_24_2013.dat, flume_lvl
weir3_Weir.dat+weir3_Weir_8_2_2013.dat, weir_lvl, weir_lvl_Max, Cond, Ct, Temp_C
weir2_Weir.dat, weir_lvl, weir_lvl_Max, Cond, Ct, Temp_C